$main-color: #e12727;
$main-color-highlighted: darken($main-color, 10%);
$global-width: 1380px;
$left-sidebar-width: 220px;
$right-sidebar-width: 240px;
$gutter: 30px;
$main-font: "Roboto", sans-serif;
$accent-font: "Lora", serif;
